.text {
	text-align:center;
	color: black
}

.About {
	margin: 16px auto;
}


.DivLeft {
  height: 100%;
  text-align: left;
  font-size: 80px;
  padding-top: 0%;
	padding-bottom: 5%;
}

.DivRight {
  height: 100%;
  text-align: right;
  font-size: 80px;
  padding-top: 0%;
	padding-bottom: 5%;
}


.flexbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}


.gridLayout {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 32px;
	margin: 32px auto;
}


.dev_card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	align-content: stretch;
	box-shadow: 2px 2px 5px rgba(150,155,161,255);
	border-radius: 12px;
	text-align: center;
    background-color: rgb(190, 235, 198);
	height: 100%;
    color: black
}

.stats_card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	align-content: stretch;
	box-shadow: 2px 2px 5px rgba(150,155,161,255);
	border-radius: 12px;
	text-align: center;
    background-color:  rgb(190, 235, 198);
	height: 100%;
    color: black
}

.tool_card {
    width: "12rem";
    border: "1px solid white"
}

.title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 3em;
	font-weight: bold;
	color: black;
}



.circle_headshot {
	object-fit: cover !important;
	width: 200px !important;
	height: 200px !important;
	border-radius: 50% !important;
	margin: 25px !important;
	margin-bottom: 0px !important;
	display: block !important;
	box-shadow: 2px 2px 5px rgba(150,155,161,255);
}

about-img {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.7);
}


.gitStats {
	flex: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	width: 100%;
	border-top: solid 1px #f0f0f0;
	border-bottom: solid 1px #f0f0f0;
	margin-top: 16px;
    text-align: center;
}

.gitStat {
	margin-top: 12px;
	margin-bottom: 12px;
	flex: 1;
	text-transform: capitalize;
	font-size: 16px;
}
