.App {
  text-align: center;
    background-color: white;
    min-height: '350vh';
    background-position: 'center';
    background-repeat: 'no-repeat';
    background-size: 'contain';
    position: 'relative';

}

.DivLeft {
  height: 100%;
  text-align: left;
  font-size: 80px;
  padding-top: 0%;
	padding-bottom: 5%;
}

.DivCenter {
  height: 100%;
  text-align: center;
  font-size: 80px;
  padding-top: 0%;
	padding-bottom: 5%;
}

.DivRight {
  height: 100%;
  text-align: right;
  font-size: 80px;
  padding-top: 0%;
	padding-bottom: 5%;
}

h1 {
	text-align: 'center';
  position: 'absolute';
  left: '50%';
	color: black;
	font: 5.5em Georgia, serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

